body{
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
    color: #2d3436;
    background-color: #f4f7f6;
}
.hero{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/kainji.jpg);
    background-size: cover;
    /* background-position: center; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    color: #ffffff;
    text-align: center;
}
.badge{
    border-radius: 8px;
    background:#003B5C;
    padding: 10px 30px;
    width: fit-content;
    font-size: 2.5rem;
    margin: 0 auto 15px auto;
}
.hero-subtext{
    background: #4a7c96;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: 400;
    width: fit-content;
    font-size: 1.2rem;
}
.activities{
    padding: 40px 20px;
    text-align: center;
    background-color: #E4F1E9;
}
.activities-text{
    margin-top: 10px;
    font-size: 2rem;
}

.activities-grid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.card{
    max-width: 250px;
   transition: transform 0.3s ease;
}
.circle-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border:8px solid #ffffff;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform: translateY(-10px);
}

.guide-card{
    margin: 50px auto;
    display: flex;
    text-align: center;
    padding: 30px;
    background-color: #abd7d8;
    width: 400px;
    border-radius: 10px;
   border-bottom: 8px solid #213a52;
   justify-content: space-around; 
    
}

.guide-img{
    height: 150x;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.guide-info{
    color: #213a52;
}

.quote{
    font-style: italic;
}

.main-footer{
    text-align:center ;
    background-color: #213a52;
    color: #ffffff;
    padding: 40px 0;
}
.social-links a{
    text-decoration: none;
    color: #D4AF37;
    margin: 0 10px;
    font-weight: bold;
}
.social-links a:hover{
    color: #ffffff;
    text-decoration: underline;
}